SOAPLYS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://SOAP/" name="SOAPLYS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://SOAP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://SOAP/" schemaLocation="SOAPLYS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="ListSubMenu">
    <part name="parameters" element="tns:ListSubMenu"/>
  </message>
  <message name="ListSubMenuResponse">
    <part name="parameters" element="tns:ListSubMenuResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="ListUsers">
    <part name="parameters" element="tns:ListUsers"/>
  </message>
  <message name="ListUsersResponse">
    <part name="parameters" element="tns:ListUsersResponse"/>
  </message>
  <message name="ListaMenu">
    <part name="parameters" element="tns:ListaMenu"/>
  </message>
  <message name="ListaMenuResponse">
    <part name="parameters" element="tns:ListaMenuResponse"/>
  </message>
  <message name="GetDataMenu">
    <part name="parameters" element="tns:GetDataMenu"/>
  </message>
  <message name="GetDataMenuResponse">
    <part name="parameters" element="tns:GetDataMenuResponse"/>
  </message>
  <message name="GetDataAccesos">
    <part name="parameters" element="tns:GetDataAccesos"/>
  </message>
  <message name="GetDataAccesosResponse">
    <part name="parameters" element="tns:GetDataAccesosResponse"/>
  </message>
  <message name="saveImage">
    <part name="parameters" element="tns:saveImage"/>
  </message>
  <message name="saveImageResponse">
    <part name="parameters" element="tns:saveImageResponse"/>
  </message>
  <message name="GetUsuarios">
    <part name="parameters" element="tns:GetUsuarios"/>
  </message>
  <message name="GetUsuariosResponse">
    <part name="parameters" element="tns:GetUsuariosResponse"/>
  </message>
  <message name="InsertInspGenCab">
    <part name="parameters" element="tns:InsertInspGenCab"/>
  </message>
  <message name="InsertInspGenCabResponse">
    <part name="parameters" element="tns:InsertInspGenCabResponse"/>
  </message>
  <message name="GetMaquinas">
    <part name="parameters" element="tns:GetMaquinas"/>
  </message>
  <message name="GetMaquinasResponse">
    <part name="parameters" element="tns:GetMaquinasResponse"/>
  </message>
  <message name="InsertInspMaqCab">
    <part name="parameters" element="tns:InsertInspMaqCab"/>
  </message>
  <message name="InsertInspMaqCabResponse">
    <part name="parameters" element="tns:InsertInspMaqCabResponse"/>
  </message>
  <message name="GetInspecciones">
    <part name="parameters" element="tns:GetInspecciones"/>
  </message>
  <message name="GetInspeccionesResponse">
    <part name="parameters" element="tns:GetInspeccionesResponse"/>
  </message>
  <message name="GetCorrelativo">
    <part name="parameters" element="tns:GetCorrelativo"/>
  </message>
  <message name="GetCorrelativoResponse">
    <part name="parameters" element="tns:GetCorrelativoResponse"/>
  </message>
  <message name="InsertInspGenDet">
    <part name="parameters" element="tns:InsertInspGenDet"/>
  </message>
  <message name="InsertInspGenDetResponse">
    <part name="parameters" element="tns:InsertInspGenDetResponse"/>
  </message>
  <message name="InsertInspMaqDet">
    <part name="parameters" element="tns:InsertInspMaqDet"/>
  </message>
  <message name="InsertInspMaqDetResponse">
    <part name="parameters" element="tns:InsertInspMaqDetResponse"/>
  </message>
  <message name="GetCentroCosto">
    <part name="parameters" element="tns:GetCentroCosto"/>
  </message>
  <message name="GetCentroCostoResponse">
    <part name="parameters" element="tns:GetCentroCostoResponse"/>
  </message>
  <message name="GetTipoRevisionG">
    <part name="parameters" element="tns:GetTipoRevisionG"/>
  </message>
  <message name="GetTipoRevisionGResponse">
    <part name="parameters" element="tns:GetTipoRevisionGResponse"/>
  </message>
  <message name="TrasnferirInsp">
    <part name="parameters" element="tns:TrasnferirInsp"/>
  </message>
  <message name="TrasnferirInspResponse">
    <part name="parameters" element="tns:TrasnferirInspResponse"/>
  </message>
  <message name="GetTipoIp">
    <part name="parameters" element="tns:GetTipoIp"/>
  </message>
  <message name="GetTipoIpResponse">
    <part name="parameters" element="tns:GetTipoIpResponse"/>
  </message>
  <message name="GetFoto">
    <part name="parameters" element="tns:GetFoto"/>
  </message>
  <message name="GetFotoResponse">
    <part name="parameters" element="tns:GetFotoResponse"/>
  </message>
  <message name="ListSolcitudServ">
    <part name="parameters" element="tns:ListSolcitudServ"/>
  </message>
  <message name="ListSolcitudServResponse">
    <part name="parameters" element="tns:ListSolcitudServResponse"/>
  </message>
  <message name="ListReqLogistica">
    <part name="parameters" element="tns:ListReqLogistica"/>
  </message>
  <message name="ListReqLogisticaResponse">
    <part name="parameters" element="tns:ListReqLogisticaResponse"/>
  </message>
  <message name="GetEmpleadosAsig">
    <part name="parameters" element="tns:GetEmpleadosAsig"/>
  </message>
  <message name="GetEmpleadosAsigResponse">
    <part name="parameters" element="tns:GetEmpleadosAsigResponse"/>
  </message>
  <message name="ListaRechazos">
    <part name="parameters" element="tns:ListaRechazos"/>
  </message>
  <message name="ListaRechazosResponse">
    <part name="parameters" element="tns:ListaRechazosResponse"/>
  </message>
  <message name="EjecutarRechazo">
    <part name="parameters" element="tns:EjecutarRechazo"/>
  </message>
  <message name="EjecutarRechazoResponse">
    <part name="parameters" element="tns:EjecutarRechazoResponse"/>
  </message>
  <message name="GetEmpleadosMant">
    <part name="parameters" element="tns:GetEmpleadosMant"/>
  </message>
  <message name="GetEmpleadosMantResponse">
    <part name="parameters" element="tns:GetEmpleadosMantResponse"/>
  </message>
  <message name="GetDetalleReqLog">
    <part name="parameters" element="tns:GetDetalleReqLog"/>
  </message>
  <message name="GetDetalleReqLogResponse">
    <part name="parameters" element="tns:GetDetalleReqLogResponse"/>
  </message>
  <message name="GetListMarcas">
    <part name="parameters" element="tns:GetListMarcas"/>
  </message>
  <message name="GetListMarcasResponse">
    <part name="parameters" element="tns:GetListMarcasResponse"/>
  </message>
  <message name="LoginUser">
    <part name="parameters" element="tns:LoginUser"/>
  </message>
  <message name="LoginUserResponse">
    <part name="parameters" element="tns:LoginUserResponse"/>
  </message>
  <message name="GetListaModelos">
    <part name="parameters" element="tns:GetListaModelos"/>
  </message>
  <message name="GetListaModelosResponse">
    <part name="parameters" element="tns:GetListaModelosResponse"/>
  </message>
  <message name="GetClientes">
    <part name="parameters" element="tns:GetClientes"/>
  </message>
  <message name="GetClientesResponse">
    <part name="parameters" element="tns:GetClientesResponse"/>
  </message>
  <message name="GetListFallas">
    <part name="parameters" element="tns:GetListFallas"/>
  </message>
  <message name="GetListFallasResponse">
    <part name="parameters" element="tns:GetListFallasResponse"/>
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="GetInspeccionesMaqDet">
    <part name="parameters" element="tns:GetInspeccionesMaqDet"/>
  </message>
  <message name="GetInspeccionesMaqDetResponse">
    <part name="parameters" element="tns:GetInspeccionesMaqDetResponse"/>
  </message>
  <message name="GetInspeccionesGenCab">
    <part name="parameters" element="tns:GetInspeccionesGenCab"/>
  </message>
  <message name="GetInspeccionesGenCabResponse">
    <part name="parameters" element="tns:GetInspeccionesGenCabResponse"/>
  </message>
  <message name="GetInspeccionesGenDet">
    <part name="parameters" element="tns:GetInspeccionesGenDet"/>
  </message>
  <message name="GetInspeccionesGenDetResponse">
    <part name="parameters" element="tns:GetInspeccionesGenDetResponse"/>
  </message>
  <message name="ListSubMenuBotones">
    <part name="parameters" element="tns:ListSubMenuBotones"/>
  </message>
  <message name="ListSubMenuBotonesResponse">
    <part name="parameters" element="tns:ListSubMenuBotonesResponse"/>
  </message>
  <message name="GetInspeccionesMaqCab">
    <part name="parameters" element="tns:GetInspeccionesMaqCab"/>
  </message>
  <message name="GetInspeccionesMaqCabResponse">
    <part name="parameters" element="tns:GetInspeccionesMaqCabResponse"/>
  </message>
  <message name="GetPeriodosInspeccion">
    <part name="parameters" element="tns:GetPeriodosInspeccion"/>
  </message>
  <message name="GetPeriodosInspeccionResponse">
    <part name="parameters" element="tns:GetPeriodosInspeccionResponse"/>
  </message>
  <message name="ValidaRechazoReqLog">
    <part name="parameters" element="tns:ValidaRechazoReqLog"/>
  </message>
  <message name="ValidaRechazoReqLogResponse">
    <part name="parameters" element="tns:ValidaRechazoReqLogResponse"/>
  </message>
  <message name="EnvioCorreoAprobReqLog">
    <part name="parameters" element="tns:EnvioCorreoAprobReqLog"/>
  </message>
  <message name="EnvioCorreoAprobReqLogResponse">
    <part name="parameters" element="tns:EnvioCorreoAprobReqLogResponse"/>
  </message>
  <message name="GetInspeccionGenCabCor">
    <part name="parameters" element="tns:GetInspeccionGenCabCor"/>
  </message>
  <message name="GetInspeccionGenCabCorResponse">
    <part name="parameters" element="tns:GetInspeccionGenCabCorResponse"/>
  </message>
  <message name="GetCentroCostoXCompania">
    <part name="parameters" element="tns:GetCentroCostoXCompania"/>
  </message>
  <message name="GetCentroCostoXCompaniaResponse">
    <part name="parameters" element="tns:GetCentroCostoXCompaniaResponse"/>
  </message>
  <message name="GetMaquinaXCompania">
    <part name="parameters" element="tns:GetMaquinaXCompania"/>
  </message>
  <message name="GetMaquinaXCompaniaResponse">
    <part name="parameters" element="tns:GetMaquinaXCompaniaResponse"/>
  </message>
  <message name="GetDefaultCompania">
    <part name="parameters" element="tns:GetDefaultCompania"/>
  </message>
  <message name="GetDefaultCompaniaResponse">
    <part name="parameters" element="tns:GetDefaultCompaniaResponse"/>
  </message>
  <message name="GetInspeccionMaqDetCor">
    <part name="parameters" element="tns:GetInspeccionMaqDetCor"/>
  </message>
  <message name="GetInspeccionMaqDetCorResponse">
    <part name="parameters" element="tns:GetInspeccionMaqDetCorResponse"/>
  </message>
  <message name="GetInspeccionMaqCabCor">
    <part name="parameters" element="tns:GetInspeccionMaqCabCor"/>
  </message>
  <message name="GetInspeccionMaqCabCorResponse">
    <part name="parameters" element="tns:GetInspeccionMaqCabCorResponse"/>
  </message>
  <message name="CountEmpleadosSolict">
    <part name="parameters" element="tns:CountEmpleadosSolict"/>
  </message>
  <message name="CountEmpleadosSolictResponse">
    <part name="parameters" element="tns:CountEmpleadosSolictResponse"/>
  </message>
  <message name="AprobarSolcitudServ">
    <part name="parameters" element="tns:AprobarSolcitudServ"/>
  </message>
  <message name="AprobarSolcitudServResponse">
    <part name="parameters" element="tns:AprobarSolcitudServResponse"/>
  </message>
  <message name="ValidarAprobacionReq">
    <part name="parameters" element="tns:ValidarAprobacionReq"/>
  </message>
  <message name="ValidarAprobacionReqResponse">
    <part name="parameters" element="tns:ValidarAprobacionReqResponse"/>
  </message>
  <message name="GetUsuarioCompLogistica">
    <part name="parameters" element="tns:GetUsuarioCompLogistica"/>
  </message>
  <message name="GetUsuarioCompLogisticaResponse">
    <part name="parameters" element="tns:GetUsuarioCompLogisticaResponse"/>
  </message>
  <message name="GetHistorialInspGen">
    <part name="parameters" element="tns:GetHistorialInspGen"/>
  </message>
  <message name="GetHistorialInspGenResponse">
    <part name="parameters" element="tns:GetHistorialInspGenResponse"/>
  </message>
  <message name="ListUsuarioSolcit">
    <part name="parameters" element="tns:ListUsuarioSolcit"/>
  </message>
  <message name="ListUsuarioSolcitResponse">
    <part name="parameters" element="tns:ListUsuarioSolcitResponse"/>
  </message>
  <message name="ValidarEmpleadoMant">
    <part name="parameters" element="tns:ValidarEmpleadoMant"/>
  </message>
  <message name="ValidarEmpleadoMantResponse">
    <part name="parameters" element="tns:ValidarEmpleadoMantResponse"/>
  </message>
  <message name="GetInspeccionGenCDetCor">
    <part name="parameters" element="tns:GetInspeccionGenCDetCor"/>
  </message>
  <message name="GetInspeccionGenCDetCorResponse">
    <part name="parameters" element="tns:GetInspeccionGenCDetCorResponse"/>
  </message>
  <message name="GetHistorialInspMaq">
    <part name="parameters" element="tns:GetHistorialInspMaq"/>
  </message>
  <message name="GetHistorialInspMaqResponse">
    <part name="parameters" element="tns:GetHistorialInspMaqResponse"/>
  </message>
  <message name="GetUsuarioCompania">
    <part name="parameters" element="tns:GetUsuarioCompania"/>
  </message>
  <message name="GetUsuarioCompaniaResponse">
    <part name="parameters" element="tns:GetUsuarioCompaniaResponse"/>
  </message>
  <message name="InsertEmpSolicitud">
    <part name="parameters" element="tns:InsertEmpSolicitud"/>
  </message>
  <message name="InsertEmpSolicitudResponse">
    <part name="parameters" element="tns:InsertEmpSolicitudResponse"/>
  </message>
  <message name="BorrandoDetalleEmpSolc">
    <part name="parameters" element="tns:BorrandoDetalleEmpSolc"/>
  </message>
  <message name="BorrandoDetalleEmpSolcResponse">
    <part name="parameters" element="tns:BorrandoDetalleEmpSolcResponse"/>
  </message>
  <message name="EjecutarAprobReqLog">
    <part name="parameters" element="tns:EjecutarAprobReqLog"/>
  </message>
  <message name="EjecutarAprobReqLogResponse">
    <part name="parameters" element="tns:EjecutarAprobReqLogResponse"/>
  </message>
  <message name="GetLisTipoReclamo">
    <part name="parameters" element="tns:GetLisTipoReclamo"/>
  </message>
  <message name="GetLisTipoReclamoResponse">
    <part name="parameters" element="tns:GetLisTipoReclamoResponse"/>
  </message>
  <message name="GetListaPruebasLab">
    <part name="parameters" element="tns:GetListaPruebasLab"/>
  </message>
  <message name="GetListaPruebasLabResponse">
    <part name="parameters" element="tns:GetListaPruebasLabResponse"/>
  </message>
  <message name="ActulizarMaestros">
    <part name="parameters" element="tns:ActulizarMaestros"/>
  </message>
  <message name="ActulizarMaestrosResponse">
    <part name="parameters" element="tns:ActulizarMaestrosResponse"/>
  </message>
  <message name="GetListaVendedores">
    <part name="parameters" element="tns:GetListaVendedores"/>
  </message>
  <message name="GetListaVendedoresResponse">
    <part name="parameters" element="tns:GetListaVendedoresResponse"/>
  </message>
  <portType name="SOAPLYS">
    <operation name="ListSubMenu">
      <input wsam:Action="http://SOAP/SOAPLYS/ListSubMenuRequest" message="tns:ListSubMenu"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListSubMenuResponse" message="tns:ListSubMenuResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListSubMenu/Fault/Exception"/>
    </operation>
    <operation name="ListUsers">
      <input wsam:Action="http://SOAP/SOAPLYS/ListUsersRequest" message="tns:ListUsers"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListUsersResponse" message="tns:ListUsersResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListUsers/Fault/Exception"/>
    </operation>
    <operation name="ListaMenu">
      <input wsam:Action="http://SOAP/SOAPLYS/ListaMenuRequest" message="tns:ListaMenu"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListaMenuResponse" message="tns:ListaMenuResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListaMenu/Fault/Exception"/>
    </operation>
    <operation name="GetDataMenu">
      <input wsam:Action="http://SOAP/SOAPLYS/GetDataMenuRequest" message="tns:GetDataMenu"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetDataMenuResponse" message="tns:GetDataMenuResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetDataMenu/Fault/Exception"/>
    </operation>
    <operation name="GetDataAccesos">
      <input wsam:Action="http://SOAP/SOAPLYS/GetDataAccesosRequest" message="tns:GetDataAccesos"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetDataAccesosResponse" message="tns:GetDataAccesosResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetDataAccesos/Fault/Exception"/>
    </operation>
    <operation name="saveImage">
      <input wsam:Action="http://SOAP/SOAPLYS/saveImageRequest" message="tns:saveImage"/>
      <output wsam:Action="http://SOAP/SOAPLYS/saveImageResponse" message="tns:saveImageResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/saveImage/Fault/Exception"/>
    </operation>
    <operation name="GetUsuarios">
      <input wsam:Action="http://SOAP/SOAPLYS/GetUsuariosRequest" message="tns:GetUsuarios"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetUsuariosResponse" message="tns:GetUsuariosResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetUsuarios/Fault/Exception"/>
    </operation>
    <operation name="InsertInspGenCab">
      <input wsam:Action="http://SOAP/SOAPLYS/InsertInspGenCabRequest" message="tns:InsertInspGenCab"/>
      <output wsam:Action="http://SOAP/SOAPLYS/InsertInspGenCabResponse" message="tns:InsertInspGenCabResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/InsertInspGenCab/Fault/Exception"/>
    </operation>
    <operation name="GetMaquinas">
      <input wsam:Action="http://SOAP/SOAPLYS/GetMaquinasRequest" message="tns:GetMaquinas"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetMaquinasResponse" message="tns:GetMaquinasResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetMaquinas/Fault/Exception"/>
    </operation>
    <operation name="InsertInspMaqCab">
      <input wsam:Action="http://SOAP/SOAPLYS/InsertInspMaqCabRequest" message="tns:InsertInspMaqCab"/>
      <output wsam:Action="http://SOAP/SOAPLYS/InsertInspMaqCabResponse" message="tns:InsertInspMaqCabResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/InsertInspMaqCab/Fault/Exception"/>
    </operation>
    <operation name="GetInspecciones">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesRequest" message="tns:GetInspecciones"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesResponse" message="tns:GetInspeccionesResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspecciones/Fault/Exception"/>
    </operation>
    <operation name="GetCorrelativo">
      <input wsam:Action="http://SOAP/SOAPLYS/GetCorrelativoRequest" message="tns:GetCorrelativo"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetCorrelativoResponse" message="tns:GetCorrelativoResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetCorrelativo/Fault/Exception"/>
    </operation>
    <operation name="InsertInspGenDet">
      <input wsam:Action="http://SOAP/SOAPLYS/InsertInspGenDetRequest" message="tns:InsertInspGenDet"/>
      <output wsam:Action="http://SOAP/SOAPLYS/InsertInspGenDetResponse" message="tns:InsertInspGenDetResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/InsertInspGenDet/Fault/Exception"/>
    </operation>
    <operation name="InsertInspMaqDet">
      <input wsam:Action="http://SOAP/SOAPLYS/InsertInspMaqDetRequest" message="tns:InsertInspMaqDet"/>
      <output wsam:Action="http://SOAP/SOAPLYS/InsertInspMaqDetResponse" message="tns:InsertInspMaqDetResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/InsertInspMaqDet/Fault/Exception"/>
    </operation>
    <operation name="GetCentroCosto">
      <input wsam:Action="http://SOAP/SOAPLYS/GetCentroCostoRequest" message="tns:GetCentroCosto"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetCentroCostoResponse" message="tns:GetCentroCostoResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetCentroCosto/Fault/Exception"/>
    </operation>
    <operation name="GetTipoRevisionG">
      <input wsam:Action="http://SOAP/SOAPLYS/GetTipoRevisionGRequest" message="tns:GetTipoRevisionG"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetTipoRevisionGResponse" message="tns:GetTipoRevisionGResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetTipoRevisionG/Fault/Exception"/>
    </operation>
    <operation name="TrasnferirInsp">
      <input wsam:Action="http://SOAP/SOAPLYS/TrasnferirInspRequest" message="tns:TrasnferirInsp"/>
      <output wsam:Action="http://SOAP/SOAPLYS/TrasnferirInspResponse" message="tns:TrasnferirInspResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/TrasnferirInsp/Fault/Exception"/>
    </operation>
    <operation name="GetTipoIp">
      <input wsam:Action="http://SOAP/SOAPLYS/GetTipoIpRequest" message="tns:GetTipoIp"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetTipoIpResponse" message="tns:GetTipoIpResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetTipoIp/Fault/Exception"/>
    </operation>
    <operation name="GetFoto">
      <input wsam:Action="http://SOAP/SOAPLYS/GetFotoRequest" message="tns:GetFoto"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetFotoResponse" message="tns:GetFotoResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetFoto/Fault/Exception"/>
    </operation>
    <operation name="ListSolcitudServ">
      <input wsam:Action="http://SOAP/SOAPLYS/ListSolcitudServRequest" message="tns:ListSolcitudServ"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListSolcitudServResponse" message="tns:ListSolcitudServResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListSolcitudServ/Fault/Exception"/>
    </operation>
    <operation name="ListReqLogistica">
      <input wsam:Action="http://SOAP/SOAPLYS/ListReqLogisticaRequest" message="tns:ListReqLogistica"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListReqLogisticaResponse" message="tns:ListReqLogisticaResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListReqLogistica/Fault/Exception"/>
    </operation>
    <operation name="GetEmpleadosAsig">
      <input wsam:Action="http://SOAP/SOAPLYS/GetEmpleadosAsigRequest" message="tns:GetEmpleadosAsig"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetEmpleadosAsigResponse" message="tns:GetEmpleadosAsigResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetEmpleadosAsig/Fault/Exception"/>
    </operation>
    <operation name="ListaRechazos">
      <input wsam:Action="http://SOAP/SOAPLYS/ListaRechazosRequest" message="tns:ListaRechazos"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListaRechazosResponse" message="tns:ListaRechazosResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListaRechazos/Fault/Exception"/>
    </operation>
    <operation name="EjecutarRechazo">
      <input wsam:Action="http://SOAP/SOAPLYS/EjecutarRechazoRequest" message="tns:EjecutarRechazo"/>
      <output wsam:Action="http://SOAP/SOAPLYS/EjecutarRechazoResponse" message="tns:EjecutarRechazoResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/EjecutarRechazo/Fault/Exception"/>
    </operation>
    <operation name="GetEmpleadosMant">
      <input wsam:Action="http://SOAP/SOAPLYS/GetEmpleadosMantRequest" message="tns:GetEmpleadosMant"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetEmpleadosMantResponse" message="tns:GetEmpleadosMantResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetEmpleadosMant/Fault/Exception"/>
    </operation>
    <operation name="GetDetalleReqLog">
      <input wsam:Action="http://SOAP/SOAPLYS/GetDetalleReqLogRequest" message="tns:GetDetalleReqLog"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetDetalleReqLogResponse" message="tns:GetDetalleReqLogResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetDetalleReqLog/Fault/Exception"/>
    </operation>
    <operation name="GetListMarcas">
      <input wsam:Action="http://SOAP/SOAPLYS/GetListMarcasRequest" message="tns:GetListMarcas"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetListMarcasResponse" message="tns:GetListMarcasResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetListMarcas/Fault/Exception"/>
    </operation>
    <operation name="LoginUser">
      <input wsam:Action="http://SOAP/SOAPLYS/LoginUserRequest" message="tns:LoginUser"/>
      <output wsam:Action="http://SOAP/SOAPLYS/LoginUserResponse" message="tns:LoginUserResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/LoginUser/Fault/Exception"/>
    </operation>
    <operation name="GetListaModelos">
      <input wsam:Action="http://SOAP/SOAPLYS/GetListaModelosRequest" message="tns:GetListaModelos"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetListaModelosResponse" message="tns:GetListaModelosResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetListaModelos/Fault/Exception"/>
    </operation>
    <operation name="GetClientes">
      <input wsam:Action="http://SOAP/SOAPLYS/GetClientesRequest" message="tns:GetClientes"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetClientesResponse" message="tns:GetClientesResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetClientes/Fault/Exception"/>
    </operation>
    <operation name="GetListFallas">
      <input wsam:Action="http://SOAP/SOAPLYS/GetListFallasRequest" message="tns:GetListFallas"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetListFallasResponse" message="tns:GetListFallasResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetListFallas/Fault/Exception"/>
    </operation>
    <operation name="hello">
      <input wsam:Action="http://SOAP/SOAPLYS/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://SOAP/SOAPLYS/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="GetInspeccionesMaqDet">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqDetRequest" message="tns:GetInspeccionesMaqDet"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqDetResponse" message="tns:GetInspeccionesMaqDetResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqDet/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionesGenCab">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenCabRequest" message="tns:GetInspeccionesGenCab"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenCabResponse" message="tns:GetInspeccionesGenCabResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenCab/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionesGenDet">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenDetRequest" message="tns:GetInspeccionesGenDet"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenDetResponse" message="tns:GetInspeccionesGenDetResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenDet/Fault/Exception"/>
    </operation>
    <operation name="ListSubMenuBotones">
      <input wsam:Action="http://SOAP/SOAPLYS/ListSubMenuBotonesRequest" message="tns:ListSubMenuBotones"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListSubMenuBotonesResponse" message="tns:ListSubMenuBotonesResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListSubMenuBotones/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionesMaqCab">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqCabRequest" message="tns:GetInspeccionesMaqCab"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqCabResponse" message="tns:GetInspeccionesMaqCabResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqCab/Fault/Exception"/>
    </operation>
    <operation name="GetPeriodosInspeccion">
      <input wsam:Action="http://SOAP/SOAPLYS/GetPeriodosInspeccionRequest" message="tns:GetPeriodosInspeccion"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetPeriodosInspeccionResponse" message="tns:GetPeriodosInspeccionResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetPeriodosInspeccion/Fault/Exception"/>
    </operation>
    <operation name="ValidaRechazoReqLog">
      <input wsam:Action="http://SOAP/SOAPLYS/ValidaRechazoReqLogRequest" message="tns:ValidaRechazoReqLog"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ValidaRechazoReqLogResponse" message="tns:ValidaRechazoReqLogResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ValidaRechazoReqLog/Fault/Exception"/>
    </operation>
    <operation name="EnvioCorreoAprobReqLog">
      <input wsam:Action="http://SOAP/SOAPLYS/EnvioCorreoAprobReqLogRequest" message="tns:EnvioCorreoAprobReqLog"/>
      <output wsam:Action="http://SOAP/SOAPLYS/EnvioCorreoAprobReqLogResponse" message="tns:EnvioCorreoAprobReqLogResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/EnvioCorreoAprobReqLog/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionGenCabCor">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionGenCabCorRequest" message="tns:GetInspeccionGenCabCor"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionGenCabCorResponse" message="tns:GetInspeccionGenCabCorResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionGenCabCor/Fault/Exception"/>
    </operation>
    <operation name="GetCentroCostoXCompania">
      <input wsam:Action="http://SOAP/SOAPLYS/GetCentroCostoXCompaniaRequest" message="tns:GetCentroCostoXCompania"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetCentroCostoXCompaniaResponse" message="tns:GetCentroCostoXCompaniaResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetCentroCostoXCompania/Fault/Exception"/>
    </operation>
    <operation name="GetMaquinaXCompania">
      <input wsam:Action="http://SOAP/SOAPLYS/GetMaquinaXCompaniaRequest" message="tns:GetMaquinaXCompania"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetMaquinaXCompaniaResponse" message="tns:GetMaquinaXCompaniaResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetMaquinaXCompania/Fault/Exception"/>
    </operation>
    <operation name="GetDefaultCompania">
      <input wsam:Action="http://SOAP/SOAPLYS/GetDefaultCompaniaRequest" message="tns:GetDefaultCompania"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetDefaultCompaniaResponse" message="tns:GetDefaultCompaniaResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetDefaultCompania/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionMaqDetCor">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionMaqDetCorRequest" message="tns:GetInspeccionMaqDetCor"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionMaqDetCorResponse" message="tns:GetInspeccionMaqDetCorResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionMaqDetCor/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionMaqCabCor">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionMaqCabCorRequest" message="tns:GetInspeccionMaqCabCor"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionMaqCabCorResponse" message="tns:GetInspeccionMaqCabCorResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionMaqCabCor/Fault/Exception"/>
    </operation>
    <operation name="CountEmpleadosSolict">
      <input wsam:Action="http://SOAP/SOAPLYS/CountEmpleadosSolictRequest" message="tns:CountEmpleadosSolict"/>
      <output wsam:Action="http://SOAP/SOAPLYS/CountEmpleadosSolictResponse" message="tns:CountEmpleadosSolictResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/CountEmpleadosSolict/Fault/Exception"/>
    </operation>
    <operation name="AprobarSolcitudServ">
      <input wsam:Action="http://SOAP/SOAPLYS/AprobarSolcitudServRequest" message="tns:AprobarSolcitudServ"/>
      <output wsam:Action="http://SOAP/SOAPLYS/AprobarSolcitudServResponse" message="tns:AprobarSolcitudServResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/AprobarSolcitudServ/Fault/Exception"/>
    </operation>
    <operation name="ValidarAprobacionReq">
      <input wsam:Action="http://SOAP/SOAPLYS/ValidarAprobacionReqRequest" message="tns:ValidarAprobacionReq"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ValidarAprobacionReqResponse" message="tns:ValidarAprobacionReqResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ValidarAprobacionReq/Fault/Exception"/>
    </operation>
    <operation name="GetUsuarioCompLogistica">
      <input wsam:Action="http://SOAP/SOAPLYS/GetUsuarioCompLogisticaRequest" message="tns:GetUsuarioCompLogistica"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetUsuarioCompLogisticaResponse" message="tns:GetUsuarioCompLogisticaResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetUsuarioCompLogistica/Fault/Exception"/>
    </operation>
    <operation name="GetHistorialInspGen">
      <input wsam:Action="http://SOAP/SOAPLYS/GetHistorialInspGenRequest" message="tns:GetHistorialInspGen"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetHistorialInspGenResponse" message="tns:GetHistorialInspGenResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetHistorialInspGen/Fault/Exception"/>
    </operation>
    <operation name="ListUsuarioSolcit">
      <input wsam:Action="http://SOAP/SOAPLYS/ListUsuarioSolcitRequest" message="tns:ListUsuarioSolcit"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListUsuarioSolcitResponse" message="tns:ListUsuarioSolcitResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListUsuarioSolcit/Fault/Exception"/>
    </operation>
    <operation name="ValidarEmpleadoMant">
      <input wsam:Action="http://SOAP/SOAPLYS/ValidarEmpleadoMantRequest" message="tns:ValidarEmpleadoMant"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ValidarEmpleadoMantResponse" message="tns:ValidarEmpleadoMantResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ValidarEmpleadoMant/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionGenCDetCor">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionGenCDetCorRequest" message="tns:GetInspeccionGenCDetCor"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionGenCDetCorResponse" message="tns:GetInspeccionGenCDetCorResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionGenCDetCor/Fault/Exception"/>
    </operation>
    <operation name="GetHistorialInspMaq">
      <input wsam:Action="http://SOAP/SOAPLYS/GetHistorialInspMaqRequest" message="tns:GetHistorialInspMaq"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetHistorialInspMaqResponse" message="tns:GetHistorialInspMaqResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetHistorialInspMaq/Fault/Exception"/>
    </operation>
    <operation name="GetUsuarioCompania">
      <input wsam:Action="http://SOAP/SOAPLYS/GetUsuarioCompaniaRequest" message="tns:GetUsuarioCompania"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetUsuarioCompaniaResponse" message="tns:GetUsuarioCompaniaResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetUsuarioCompania/Fault/Exception"/>
    </operation>
    <operation name="InsertEmpSolicitud">
      <input wsam:Action="http://SOAP/SOAPLYS/InsertEmpSolicitudRequest" message="tns:InsertEmpSolicitud"/>
      <output wsam:Action="http://SOAP/SOAPLYS/InsertEmpSolicitudResponse" message="tns:InsertEmpSolicitudResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/InsertEmpSolicitud/Fault/Exception"/>
    </operation>
    <operation name="BorrandoDetalleEmpSolc">
      <input wsam:Action="http://SOAP/SOAPLYS/BorrandoDetalleEmpSolcRequest" message="tns:BorrandoDetalleEmpSolc"/>
      <output wsam:Action="http://SOAP/SOAPLYS/BorrandoDetalleEmpSolcResponse" message="tns:BorrandoDetalleEmpSolcResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/BorrandoDetalleEmpSolc/Fault/Exception"/>
    </operation>
    <operation name="EjecutarAprobReqLog">
      <input wsam:Action="http://SOAP/SOAPLYS/EjecutarAprobReqLogRequest" message="tns:EjecutarAprobReqLog"/>
      <output wsam:Action="http://SOAP/SOAPLYS/EjecutarAprobReqLogResponse" message="tns:EjecutarAprobReqLogResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/EjecutarAprobReqLog/Fault/Exception"/>
    </operation>
    <operation name="GetLisTipoReclamo">
      <input wsam:Action="http://SOAP/SOAPLYS/GetLisTipoReclamoRequest" message="tns:GetLisTipoReclamo"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetLisTipoReclamoResponse" message="tns:GetLisTipoReclamoResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetLisTipoReclamo/Fault/Exception"/>
    </operation>
    <operation name="GetListaPruebasLab">
      <input wsam:Action="http://SOAP/SOAPLYS/GetListaPruebasLabRequest" message="tns:GetListaPruebasLab"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetListaPruebasLabResponse" message="tns:GetListaPruebasLabResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetListaPruebasLab/Fault/Exception"/>
    </operation>
    <operation name="ActulizarMaestros">
      <input wsam:Action="http://SOAP/SOAPLYS/ActulizarMaestrosRequest" message="tns:ActulizarMaestros"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ActulizarMaestrosResponse" message="tns:ActulizarMaestrosResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ActulizarMaestros/Fault/Exception"/>
    </operation>
    <operation name="GetListaVendedores">
      <input wsam:Action="http://SOAP/SOAPLYS/GetListaVendedoresRequest" message="tns:GetListaVendedores"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetListaVendedoresResponse" message="tns:GetListaVendedoresResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetListaVendedores/Fault/Exception"/>
    </operation>
  </portType>
  <binding name="SOAPLYSPortBinding" type="tns:SOAPLYS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ListSubMenu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListaMenu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDataMenu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDataAccesos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="saveImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetUsuarios">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="InsertInspGenCab">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetMaquinas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="InsertInspMaqCab">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspecciones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCorrelativo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="InsertInspGenDet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="InsertInspMaqDet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCentroCosto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetTipoRevisionG">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="TrasnferirInsp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetTipoIp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetFoto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListSolcitudServ">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListReqLogistica">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetEmpleadosAsig">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListaRechazos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="EjecutarRechazo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetEmpleadosMant">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDetalleReqLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetListMarcas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="LoginUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetListaModelos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetClientes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetListFallas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetInspeccionesMaqDet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionesGenCab">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionesGenDet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListSubMenuBotones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionesMaqCab">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetPeriodosInspeccion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ValidaRechazoReqLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="EnvioCorreoAprobReqLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionGenCabCor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCentroCostoXCompania">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetMaquinaXCompania">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDefaultCompania">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionMaqDetCor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionMaqCabCor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="CountEmpleadosSolict">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="AprobarSolcitudServ">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ValidarAprobacionReq">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetUsuarioCompLogistica">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetHistorialInspGen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListUsuarioSolcit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ValidarEmpleadoMant">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionGenCDetCor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetHistorialInspMaq">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetUsuarioCompania">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="InsertEmpSolicitud">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="BorrandoDetalleEmpSolc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="EjecutarAprobReqLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetLisTipoReclamo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetListaPruebasLab">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ActulizarMaestros">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetListaVendedores">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SOAPLYS">
    <port name="SOAPLYSPort" binding="tns:SOAPLYSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

