SOAPLYS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://SOAP/" name="SOAPLYS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://SOAP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://SOAP/" schemaLocation="SOAPLYS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="GetInspeccionesGenDet">
    <part name="parameters" element="tns:GetInspeccionesGenDet"/>
  </message>
  <message name="GetInspeccionesGenDetResponse">
    <part name="parameters" element="tns:GetInspeccionesGenDetResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="ListSubMenuBotones">
    <part name="parameters" element="tns:ListSubMenuBotones"/>
  </message>
  <message name="ListSubMenuBotonesResponse">
    <part name="parameters" element="tns:ListSubMenuBotonesResponse"/>
  </message>
  <message name="GetInspeccionesMaqCab">
    <part name="parameters" element="tns:GetInspeccionesMaqCab"/>
  </message>
  <message name="GetInspeccionesMaqCabResponse">
    <part name="parameters" element="tns:GetInspeccionesMaqCabResponse"/>
  </message>
  <message name="GetInspeccionesMaqDet">
    <part name="parameters" element="tns:GetInspeccionesMaqDet"/>
  </message>
  <message name="GetInspeccionesMaqDetResponse">
    <part name="parameters" element="tns:GetInspeccionesMaqDetResponse"/>
  </message>
  <message name="GetInspeccionesGenCab">
    <part name="parameters" element="tns:GetInspeccionesGenCab"/>
  </message>
  <message name="GetInspeccionesGenCabResponse">
    <part name="parameters" element="tns:GetInspeccionesGenCabResponse"/>
  </message>
  <message name="saveImage">
    <part name="parameters" element="tns:saveImage"/>
  </message>
  <message name="saveImageResponse">
    <part name="parameters" element="tns:saveImageResponse"/>
  </message>
  <message name="ListSubMenu">
    <part name="parameters" element="tns:ListSubMenu"/>
  </message>
  <message name="ListSubMenuResponse">
    <part name="parameters" element="tns:ListSubMenuResponse"/>
  </message>
  <message name="ListaMenu">
    <part name="parameters" element="tns:ListaMenu"/>
  </message>
  <message name="ListaMenuResponse">
    <part name="parameters" element="tns:ListaMenuResponse"/>
  </message>
  <message name="GetMaquinas">
    <part name="parameters" element="tns:GetMaquinas"/>
  </message>
  <message name="GetMaquinasResponse">
    <part name="parameters" element="tns:GetMaquinasResponse"/>
  </message>
  <message name="GetDataMenu">
    <part name="parameters" element="tns:GetDataMenu"/>
  </message>
  <message name="GetDataMenuResponse">
    <part name="parameters" element="tns:GetDataMenuResponse"/>
  </message>
  <message name="GetDataAccesos">
    <part name="parameters" element="tns:GetDataAccesos"/>
  </message>
  <message name="GetDataAccesosResponse">
    <part name="parameters" element="tns:GetDataAccesosResponse"/>
  </message>
  <message name="GetUsuarios">
    <part name="parameters" element="tns:GetUsuarios"/>
  </message>
  <message name="GetUsuariosResponse">
    <part name="parameters" element="tns:GetUsuariosResponse"/>
  </message>
  <message name="ListUsers">
    <part name="parameters" element="tns:ListUsers"/>
  </message>
  <message name="ListUsersResponse">
    <part name="parameters" element="tns:ListUsersResponse"/>
  </message>
  <portType name="SOAPLYS">
    <operation name="hello">
      <input wsam:Action="http://SOAP/SOAPLYS/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://SOAP/SOAPLYS/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="GetInspeccionesGenDet">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenDetRequest" message="tns:GetInspeccionesGenDet"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenDetResponse" message="tns:GetInspeccionesGenDetResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenDet/Fault/Exception"/>
    </operation>
    <operation name="ListSubMenuBotones">
      <input wsam:Action="http://SOAP/SOAPLYS/ListSubMenuBotonesRequest" message="tns:ListSubMenuBotones"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListSubMenuBotonesResponse" message="tns:ListSubMenuBotonesResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListSubMenuBotones/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionesMaqCab">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqCabRequest" message="tns:GetInspeccionesMaqCab"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqCabResponse" message="tns:GetInspeccionesMaqCabResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqCab/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionesMaqDet">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqDetRequest" message="tns:GetInspeccionesMaqDet"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqDetResponse" message="tns:GetInspeccionesMaqDetResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesMaqDet/Fault/Exception"/>
    </operation>
    <operation name="GetInspeccionesGenCab">
      <input wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenCabRequest" message="tns:GetInspeccionesGenCab"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenCabResponse" message="tns:GetInspeccionesGenCabResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetInspeccionesGenCab/Fault/Exception"/>
    </operation>
    <operation name="saveImage">
      <input wsam:Action="http://SOAP/SOAPLYS/saveImageRequest" message="tns:saveImage"/>
      <output wsam:Action="http://SOAP/SOAPLYS/saveImageResponse" message="tns:saveImageResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/saveImage/Fault/Exception"/>
    </operation>
    <operation name="ListSubMenu">
      <input wsam:Action="http://SOAP/SOAPLYS/ListSubMenuRequest" message="tns:ListSubMenu"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListSubMenuResponse" message="tns:ListSubMenuResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListSubMenu/Fault/Exception"/>
    </operation>
    <operation name="ListaMenu">
      <input wsam:Action="http://SOAP/SOAPLYS/ListaMenuRequest" message="tns:ListaMenu"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListaMenuResponse" message="tns:ListaMenuResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListaMenu/Fault/Exception"/>
    </operation>
    <operation name="GetMaquinas">
      <input wsam:Action="http://SOAP/SOAPLYS/GetMaquinasRequest" message="tns:GetMaquinas"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetMaquinasResponse" message="tns:GetMaquinasResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetMaquinas/Fault/Exception"/>
    </operation>
    <operation name="GetDataMenu">
      <input wsam:Action="http://SOAP/SOAPLYS/GetDataMenuRequest" message="tns:GetDataMenu"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetDataMenuResponse" message="tns:GetDataMenuResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetDataMenu/Fault/Exception"/>
    </operation>
    <operation name="GetDataAccesos">
      <input wsam:Action="http://SOAP/SOAPLYS/GetDataAccesosRequest" message="tns:GetDataAccesos"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetDataAccesosResponse" message="tns:GetDataAccesosResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetDataAccesos/Fault/Exception"/>
    </operation>
    <operation name="GetUsuarios">
      <input wsam:Action="http://SOAP/SOAPLYS/GetUsuariosRequest" message="tns:GetUsuarios"/>
      <output wsam:Action="http://SOAP/SOAPLYS/GetUsuariosResponse" message="tns:GetUsuariosResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/GetUsuarios/Fault/Exception"/>
    </operation>
    <operation name="ListUsers">
      <input wsam:Action="http://SOAP/SOAPLYS/ListUsersRequest" message="tns:ListUsers"/>
      <output wsam:Action="http://SOAP/SOAPLYS/ListUsersResponse" message="tns:ListUsersResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://SOAP/SOAPLYS/ListUsers/Fault/Exception"/>
    </operation>
  </portType>
  <binding name="SOAPLYSPortBinding" type="tns:SOAPLYS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetInspeccionesGenDet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListSubMenuBotones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionesMaqCab">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionesMaqDet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetInspeccionesGenCab">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="saveImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListSubMenu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListaMenu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetMaquinas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDataMenu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDataAccesos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetUsuarios">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="ListUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SOAPLYS">
    <port name="SOAPLYSPort" binding="tns:SOAPLYSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

